<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.logintest">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_main"
        android:label="Holly Molly"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogInTest.NoActionBar"
        android:usesCleartextTraffic="true">
        <activity android:name=".GameActivity" />
        <activity
            android:name=".InnerRoomActivity"
            android:label="@string/title_activity_inner_room" />
        <activity
            android:name=".RoomActivity"
            android:label="@string/title_activity_room" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao8c2084e5975bafeb7699f8c69c473ba3" />
            </intent-filter>
        </activity>
    </application>

</manifest>